body {
  background-color: #ffeaa7;
  font-family: 'Montserrat';
  min-height: 70vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* background: #f1f5f8; */
  /* max-width: auto; */
}

main{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
 
}

h2{
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
}
